#cardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10171e;
}

#cardImgWrapper {
  width: 80%;
  height: 80%;
  margin-top: 30px;
}

#cardImgWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cardTitle {
  font-size: 30px;
  overflow: hidden;
}

#cardContent {
  overflow: hidden;
}
